<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    {{customer_name}}
    <h1>this is the heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nulla id porro nesciunt aspernatur ex, natus ab adipisci nisi blanditiis nostrum, officia neque perspiciatis, iste eos ipsa et! Ex, earum.</p>


    <a href="{{url_for('homepage')}}">click_here</a>
</body>
</html>